<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO Demo</title>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
</head>
<body>

<h2>Demo of SocketIO</h2>
<script>

$(document).ready(function () {
    namespace = '/dcenter';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

    var x = socket.emit('my_event', {data: "tests"});
    console.log("x ", x);

    socket.on("xxxx", function (res) {
        console.log('t ', res);
    });

});
</script>
</body>
</html>